
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0;
  font-family: sans-serif
}


body {
  margin: 0;
  background-image: url('./Componets/Image/net.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white

}
